* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(87, 4, 4);
}

.logo {
  height: 100px;
  width: 100px;
  border: 1px solid;
  border-radius: 80px;
}

.mainpage {
  background-image: linear-gradient(rgba(7, 7, 7, 0.5), rgba(7, 6, 6, 0.5)),
    url("/assets/images/mainyoga.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 0;
  left: 130px;
}

.mainpage nav {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: row;

  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.mainpage nav a {
  text-decoration: none;
  font-size: 1em;
  color: rgb(241, 241, 14);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.mainpage h1 {
  color: yellow;
  font-size: 1.2em;
  position: absolute;
  font-family: ;
}

.mainpage h2 {
  color: yellow;
  font-size: 1.2em;
  position: absolute;
  margin-top: 40px;
}

.freetrial {
  height: 40px;
  width: 125px;
  border: 2px solid rgb(84, 84, 43);
  border-radius: 10px;
  background-color: rgb(84, 84, 43);
  position: absolute;
  top: 420px;
  color: grey;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.adj {
  color: grey;
  height: 90px;
  width: 90px;
  border: 2px solid white;
  position: absolute;
  right: 15px;
  top: 500px;
  text-align: center;
  padding: 5%;
  border-radius: 90px;
  background-color: rgb(69, 88, 39);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* for signinhtml */

.signcontainer {
  height: 100%;
  width: 100%;
  background-color: rgb(110, 110, 22);
  padding: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="email"],
input[type="password"],
input[type="button"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signchild {
  border: 2px solid black;
  padding: 50px;
  background-color: yellowgreen;
  cursor: pointer;
}

/* benifit member */

.benifitparent {
  /* background-color: rgb(237, 226, 226); */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.benifitparent img {
  height: 200px;
  background-position: center;
  border: 1px solid black;
  
  border-radius: 100px;
}

.benifit {
  text-align: center;
  margin-top: 40px;
}

.benifit h2 {
  font-size: 3em;
  /* color: rgb(27, 27, 2); */
  color: greenyellow;
  font-family: "Dancing Script", cursive;
  font-family: "Sono", sans-serif;
}

.benifit h3 {
  color: gold;
  font-size: 1.8em;
}

.benifitparent p {
  padding: 10px;
  margin: 5px;
  color: green;
  font-size: 1.4em;
}

/* programs */

.courses {
  text-align: center;
  padding: 20px;
  background-color: rgb(110, 4, 4);
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-position: center;
  background-size: contain;
}
.corporate {
  background-image: linear-gradient(
      rgba(75, 73, 73, 0.5),
      rgba(87, 80, 80, 0.5)
    ),
    url(/assets/images/corporate.png);
  background-position: center;
  background-size: contain;
  height: 200px;
}

.programs {
  font-size: 2em;
  color: green;
  font-family: "Dancing Script", cursive;
  font-family: "Sono", sans-serif;
  margin-top: 40px;
}

.personal {
  background-image: linear-gradient(
      rgba(75, 73, 73, 0.5),
      rgba(87, 80, 80, 0.5)
    ),
    url(/assets/images/personal.png);

  height: 200px;
  background-position: center;
  background-size: contain;
}

.group {
  background-image: linear-gradient(
      rgba(75, 73, 73, 0.5),
      rgba(87, 80, 80, 0.5)
    ),
    url("/assets/images/group.png");
  height: 200px;
  background-position: center;
  background-size: contain;
}

.theropy {
  background-image: linear-gradient(
      rgba(75, 73, 73, 0.5),
      rgba(87, 80, 80, 0.5)
    ),
    url("/assets/images/theropy.png");
  height: 200px;
  background-position: center;
  background-size: contain;
}

.pregancy {
  background-image: linear-gradient(
      rgba(75, 73, 73, 0.5),
      rgba(87, 80, 80, 0.5)
    ),
    url("/assets/images/preg.png");
  height: 200px;
  background-position: center;
  background-size: contain;
}


.courses h3 {
  color: greenyellow;
  font-size: 1.8em;
}

.courses button {
  border: 1px solid yellowgreen;

  background-color: yellowgreen;
  width: 80px;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* meet the team  */

.teamgrid {

display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto auto auto;

 
  
}

.teachergrid {
  border: 1px solid black ;
  color: #ccc;
  height: 200px;
 
}

.teachergrid img {
  height: 100px;
  width: 100px;
  border: 1px solid;
  border-radius: 80px;
}