* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(87, 4, 4);
}

.logo {
  height: 100px;
  width: 100px;
  border: 1px solid;
  border-radius: 80px;
  position: absolute;
  top: 0;
  left: 130px;
}

strong {
  color: red;
}

.mainpage {
  background-image: linear-gradient(rgba(7, 7, 7, 0.5), rgba(7, 6, 6, 0.5)),
    url("/assets/images/mainyoga.png");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainpage nav {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: row;

  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.mainpage nav a {
  text-decoration: none;
  font-size: 1em;
  color: rgb(241, 241, 14);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.mainpage h1 {
  color: yellow;
  font-size: 1.2em;
  position: absolute;
}

.mainpage h2 {
  color: yellow;
  font-size: 1.2em;
  position: absolute;
  margin-top: 40px;
}

.freetrial {
  height: 40px;
  width: 125px;
  border: 2px solid rgb(84, 84, 43);
  border-radius: 10px;
  background-color: rgb(84, 84, 43);
  position: absolute;
  top: 420px;
  color: grey;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.adj {
  color: grey;
  height: 90px;
  width: 90px;
  border: 2px solid white;
  position: absolute;
  right: 15px;
  top: 500px;
  text-align: center;
  padding: 5%;
  border-radius: 90px;
  background-color: rgb(69, 88, 39);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* for signinhtml */

.signcontainer {
  height: 100%;
  width: 100%;
  background-color: rgb(110, 110, 22);
  padding: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="email"],
input[type="password"],
input[type="button"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signchild {
  border: 2px solid black;
  padding: 50px;
  background-color: yellowgreen;
  cursor: pointer;
}

/* benifit member */

.benifitparent {
  /* background-color: rgb(237, 226, 226); */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.benifitparent img {
  height: 200px;
  background-position: center;
  border: 1px solid black;

  border-radius: 100px;
}

.benifit {
  text-align: center;
  margin-top: 40px;
}

.benifit h2 {
  font-size: 3em;
  /* color: rgb(27, 27, 2); */
  color: greenyellow;
  font-family: "Dancing Script", cursive;
  font-family: "Sono", sans-serif;
}

.benifit h3 {
  color: gold;
  font-size: 1.8em;
}

.benifitparent p {
  padding: 10px;
  margin: 5px;
  color: green;
  font-size: 1.4em;
}

/* programs */

.courses {
  text-align: center;
  padding: 20px;
  background-color: rgb(110, 4, 4) ;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-position: center;
  background-size: contain;
}
.corporate {
  background-image: linear-gradient(
      rgba(75, 73, 73, 0.5),
      rgba(87, 80, 80, 0.5)
    ),
    url(/assets/images/corporate.png);
  background-position: center;
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
}

.programs {
  font-size: 2em;
  color: green;
  font-family: "Dancing Script", cursive;
  font-family: "Sono", sans-serif;
  margin-top: 40px;
}

.personal {
  background-image: linear-gradient(
      rgba(75, 73, 73, 0.5),
      rgba(87, 80, 80, 0.5)
    ),
    url(/assets/images/personal.png);
  background-repeat: no-repeat;

  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.group {
  background-image: linear-gradient(
      rgba(75, 73, 73, 0.5),
      rgba(87, 80, 80, 0.5)
    ),
    url("/assets/images/group.png");
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* .theropy { 
  background-image: linear-gradient(
      rgba(75, 73, 73, 0.5),
      rgba(87, 80, 80, 0.5)
    ),
    url("/assets/images/theropy.png");
    background-repeat: no-repeat;
  height: 200px;
  background-position: center;
  background-size: contain;
} */

.pregancy {
  background-image: linear-gradient(
      rgba(75, 73, 73, 0.5),
      rgba(87, 80, 80, 0.5)
    ),
    url("/assets/images/preg.png");
  background-repeat: no-repeat;
  height: 200px;
  background-position: center;
  background-size: contain;
}

.courses h3 {
  color: greenyellow;
  font-size: 1.8em;
}

.courses button {
  border: 1px solid yellowgreen;

  background-color: yellowgreen;
  width: 80px;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* meet the team  */

.teamgrid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 300px 300px 300px;
}

.teachergrid {
  color: #ccc;
  height: 200px;
  padding: 15%;
}

.teachergrid img {
  height: 100px;
  width: 100px;
  border: 1px solid;
  border-radius: 80px;
}

.team {
  font-size: 2em;
  /* color: rgb(27, 27, 2); */
  color: greenyellow;
  font-family: "Dancing Script", cursive;
  font-family: "Sono", sans-serif;
  margin-top: 40px;
  text-align: center;
}

.teachergrid h3 {
  color: gold;
  font-size: larger;
}
.teachergrid h4 {
  color: gold;
  font-size: medium;
  border-bottom: 4px solid red;
}

.teachergrid p {
  color: green;
  font-size: medium;
  padding-top: 5%;
}

/* review of students */

.review {
  margin-top: 100px;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.5),
      rgba(24, 21, 21, 0.5)
    ),
    url("/assets/images/reviewyoga.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 5%;
  margin-right: 5%;
}

.review h2 {
  font-size: 3em;
  /* color: rgb(27, 27, 2); */
  color: green;
  font-family: "Dancing Script", cursive;
  font-family: "Sono", sans-serif;
  margin-top: 40px;
  text-align: center;
}

.reviewparent {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 300px 300px;
  margin-top: 100px;
  justify-content: center;
}

.reviewchild {
  /* border: 2px solid white; */
  /* background-color: #ccc; */
  padding: 15%;
  border: 5px solid black;
  background-color: ;
}

.reviewchild img {
  height: 100px;
  width: 100px;
  float: right;
  border: 2px solid black;
}

.reviewchild h3 {
  color: gold;
  font-size: 1.5em;
}

.reviewchild p {
  color: greenyellow;
}

.review button {
  height: 50px;
  width: 100px;
  position: absolute;
  left: 135px;
  background-color: gray;
  color: white;
  border: 2px solid gray;
  border-radius: 50px;
  font-size: medium;
}

/* newsletter */

.newsletter {
  text-align: center;
  color: white;
  background-color: black;
  height: 210px;
  margin: 40px;
  border: 2px solid white;
}
.newsletterform {
  height: 80px;
  width: 150px;
  position: relative;
  left: 100px;

  left: 70px;
}

.registerbutton {
  height: 50px;
  width: 100px;
  background-color: rgb(207, 207, 11);
  border: 2px solid;
  border-radius: 80px;
}

/* footer */

footer {
  height: 200px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footera a {
  color: white;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.footera {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* mainpage */
  .logo {
    left: 5px;
    width: 150px;
    height: 100px;
    border: none;
    top: 5px;
  }

  .mainpage nav a {
    font-size: 2em;
    color: rgb(241, 241, 14);
  }

  .mainpage h1 {
    font-size: 3em;
  }

  .mainpage h2 {
    color: yellow;
    font-size: 2.5em;
    margin-top: 80px;
  }

  .freetrial {
    height: 50px;
    width: 200px;
    font-size: large;
    top: 480px;
  }

  .adj {
    height: 100px;
    width: 100px;

    right: 20px;
    top: 600px;
    text-align: center;
    padding: 3%;
  }

  /* member benifit */

  .benifitparent img {
    height: 350px;
    border: none;
    border-radius: 0px;
  }

  .benifit h3 {
    margin-top: 10px;
  }

  .benifitparent p {
    margin: 5px;

    font-size: 1.8em;
  }

  /* programs */

  .types {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .corporate {
    width: 300px;
  }

  .personal {
    width: 300px;
  }

  .group {
    width: 300px;
  }

  .pregancy {
    width: 300px;
  }

  /* team */

  .teachergrid p {
    font-size: larger;
  }
  /* review */
  .review button {
    position: relative;
    left: 140px;
    top: 50px;
    width: 150px;
    font-size: large;
  }

  .reviewchild p {
    font-size: large;
  }

  .reviewchild h3 {
    font-size: 2em;
  }

  /* newsletter */
  .newsletterform {
    position: relative;
    left: 225px;
  }

  .footera {
    flex-direction: row;
    /* justify-content: space-evenly; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* mainpage */

  .adj {
    height: 100px;
    width: 100px;
    top: 450px;
    padding: 2%;
  }

  /* newsletter */

  .registerbutton {
    width: 100px;
  }

  .newsletterform {
    height: 80px;
    width: 400px;
    position: relative;
    left: 200px;
  }

  .footera {
    flex-direction: row;
    display: flex;
  }

  footer {
    height: 100px;
    background-color: black;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* mainpage */
  .adj {
    top: 200px;
    right: 60px;
  }

  .mainpage nav a {
    font-size: large;
    transition: all 0.5s linear;
  }

  .mainpage nav a:hover {
    color: red;
    /* background-color:green; */
    text-decoration: underline;
  }

  .mainpage nav {
    top: 10%;
  }

  .freetrial {
    top: 350px;
    height: 35px;
    transition: 0.5s linear;
  }

  .freetrial:hover {
    color: gold;
  }

  .mainpage h1 {
    font-family: "Dancing Script", cursive;
    font-family: "Sono", sans-serif;
    font-size: xx-large;
  }

  .mainpage h2 {
    font-family: "Dancing Script", cursive;
    font-family: "Sono", sans-serif;
    font-size: x-large;
  }

  /* member benifit */

  .benifittypes {
    display: flex;
    padding: 1%;
  }

  .benifittypes img {
    width: 250px;
    height: 200px;
  }

  /* programs */
  .courses {
    flex-wrap: wrap;
  }
  .corporate {
    width: 400px;
    
  }

  .personal {
    width: 400px;
    
  }

  .group {
    width: 400px;
  }

  .pregancy {
    width: 400px;
  }
}

/* meet the team */

.teamgrid {
  grid-template-columns: auto auto auto;
  grid-template-rows: 300px 300px ;
}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
